*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
    background-color: lightcyan;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container{
    display: flex;
    flex-direction: row;
    height: 50px;
    font-size: 20px;
    gap:500px;
    background-color: orange;
    border: 3px dotted black;
}

.link{
    background-color: orange;
    margin-top: 10px;
    

 }

 .logo{
    background-color: orange; 
    margin-top: 10px;
    padding-left: 10px;
}

.login{
    background-color: orange;
    text-align: end;
    margin-top: 10px;
    padding-right: 10px;
}
/* INIZIO PARTE MAIN CON JUMBO */
.container-jumbo{
    display: flex;
    flex-direction: row;
    height: 550px;
    justify-content: center;
    background-color: blue;
}

.jumbotron{
    flex-basis: 60%;
    background-color: deeppink;
    margin: 50px;
    border: 3px dotted black;
}

/* INIZIO PARTE 2 MAIN AZURE E PINK */

.container-due{
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: center;
    
}

.azure{
    background-color: deepskyblue;
    height: 450px;
    flex-basis: 40%;
    margin-top: 30px;
    border: 3px dotted black;
}

.pink{
    background-color: violet;
    height: 450px;
    flex-basis: 30%;
    margin-top: 30px;
    border: 3px dotted black;
}

/* INIZIO PARTE 3 MAIN AZURE-inverse E PINK-inverse */

.container-tre{
    display: flex;
    flex-direction: row-reverse;
    height: 500px;
    justify-content: center;
    background-color: darkgrey;
    
}

.azure-inverse{
    background-color: deepskyblue;
    height: 450px;
    flex-basis: 40%;
    margin-top: 30px;
    border: 3px dotted black;
}

.pink-inverse{
    background-color: violet;
    height: 450px;
    flex-basis: 30%;
    margin-top: 30px;
    border: 3px dotted black;
    
}

/* INIZIO PARTE 4 MAIN Green */

.container-quattro{
    display: flex;
    flex-direction: row;
    height: 700px;
    background-color: darkgray;
    justify-content: center;
    
}

.green{
    background-color: green;
    flex-basis: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px dotted black;
    
}

/* INIZIO PARTE Footer */

.container-footer{
    display: flex;
    flex-direction: row;
    height: 500px;
    background-color: black;
    justify-content: center;
    
    
}

.salmon{
    background-color: salmon;
    flex-basis: 18%;
    border: 3px dotted black;
    margin-top: 10px;
}

.seagreen{
    background-color: lightseagreen;
    flex-basis: 13%;
    border: 2px dotted white;
    margin-top: 10px;
    
}


/*  PARTE 2 Footer */

.container-logo-bottone{
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 250px;
    justify-content: center;
    
    /* justify-content: center; */
    
    
}
.item-logo-bottone{
    background-color:aqua;
    flex-basis: 70%;
    width: 70%;
    margin-top: 10%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90%;
    
}   

.logo-due{
    padding: 2px;
    background-color: salmon;
    margin-top: 25px;
    border: 2px dotted black;
    height: 30px;

}

.bottone-due{
    /* padding: 2px; */
    background-color: salmon;
    margin-top: 25px;
    border: 2px dotted black;
    width: 10%;
    height: 30px;
    text-align: end;
    margin-left: 20px;
}

