*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
    background-color: lightcyan;
    height: 100px;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100px;
    font-size: 20px;
    gap: 20px;
    padding-top: 3%;
    align-items: stretch;
    
}

.orange{
    background-color: orange;
}


.logo{
    background-color: orange;
    
}

/* INIZIO PARTE MAIN CON JUMBO */
.container-jumbo{
    display: flex;
    flex-direction: row;
    height: 550px;
    justify-content: center;
    background-color: blue;
}

.jumbotron{
    flex-basis: 60%;
    background-color: deeppink;
    margin: 50px;
    border: 3px dotted black;
}

/* INIZIO PARTE 2 MAIN AZURE E PINK */

.container-due{
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: center;
    
}

.azure{
    background-color: deepskyblue;
    height: 450px;
    flex-basis: 40%;
    margin-top: 30px;
    border: 3px dotted black;
}

.pink{
    background-color: violet;
    height: 450px;
    flex-basis: 30%;
    margin-top: 30px;
    border: 3px dotted black;
}

/* INIZIO PARTE 3 MAIN AZURE-inverse E PINK-inverse */

.container-tre{
    display: flex;
    flex-direction: row-reverse;
    height: 500px;
    justify-content: center;
    background-color: darkgrey;
    
}

.azure-inverse{
    background-color: deepskyblue;
    height: 450px;
    flex-basis: 40%;
    margin-top: 30px;
    border: 3px dotted black;
}

.pink-inverse{
    background-color: violet;
    height: 450px;
    flex-basis: 30%;
    margin-top: 30px;
    border: 3px dotted black;
    
}

/* INIZIO PARTE 4 MAIN Green */

.container-quattro{
    display: flex;
    flex-direction: row;
    height: 700px;
    background-color: darkgray;
    justify-content: center;
    
}

.green{
    background-color: green;
    flex-basis: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px dotted black;
    
}

/* INIZIO PARTE Footer */

.container-footer{
    display: flex;
    flex-direction: row;
    height: 500px;
    background-color: black;
    justify-content: center;
    
    
}

.salmon{
    background-color: salmon;
    flex-basis: 25%;
    border: 3px dotted black;
    margin-top: 10px;
}

.seagreen{
    background-color: lightseagreen;
    flex-basis: 12%;
    border: 2px dotted white;
    margin-top: 10px;
    
}


/*  PARTE 2 Footer */

.container-logo-bottone{
    display: flex;
    flex-direction: column-reverse;
    background-color: black;
    height: 250px;
    align-items: center;
    
    
}
.item-logo-bottone{
    background-color: aqua;
    flex-basis: 25%;
    width: 73%;
    text-align: left;
    
}


.logo-due{
    padding: 2px;
    background-color: salmon;
    margin-top: 17px;
    display: inline-block;
    border: 2px dotted black;
    
}




.container-botton{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 250px;
    align-items: flex-end
    
}



.container-botton{
    display: flex;
    flex-direction: column-reverse;
    background-color: black;
    height: 250px;
    align-items: flex-end
}


.bottone-due {
    padding: 2px;
    background-color: salmon;
    margin-top: 20px;
    border: 2px dotted black;
}








.riga{
    border-bottom: solid 3px red;
    bottom
}
